@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #e5e7eb;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), var(--font-mono), Helvetica, sans-serif;
  min-height: 100%;
}
